{{- if .Values.job.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "licenseware-sdk-v2.fullname" . }}-job-{{ randAlphaNum 5 | lower }}
  labels:
    {{- include "licenseware-sdk-v2.labels" . | nindent 4 }}
spec:
  {{- with .Values.job.activeDeadlineSeconds }}
  activeDeadlineSeconds: {{ . }}
  {{- end }}
  backoffLimit: {{ .Values.job.backoffLimit | default 6 }}
  completionMode: {{ .Values.job.completionMode | default "NonIndexed" }}
  {{- with .Values.job.completions }}
  completions: {{ . }}
  {{- end }}
  {{- with .Values.job.parallelism }}
  parallelism: {{ . }}
  {{- end }}
  suspend: {{ .Values.job.suspend | default false }}
  template:
    metadata:
      {{- with (default .Values.global.podAnnotations .Values.job.podAnnotations) }}
      annotations:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    spec:
      restartPolicy: {{ .Values.job.restartPolicy | default "OnFailure" }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if (or .Values.serviceAccount.create .Values.serviceAccount.name) }}
      serviceAccountName: {{ include "licenseware-sdk-v2.serviceAccountName" . }}
      {{- end }}
      {{- with (default .Values.global.terminationGracePeriodSeconds .Values.job.terminationGracePeriodSeconds) }}
      terminationGracePeriodSeconds: {{ tpl (toYaml .) $ | int }}
      {{- end }}
      {{- with (default .Values.global.podSecurityContext .Values.job.podSecurityContext) }}
      securityContext:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ tpl (default .Values.global.containerName .Values.job.containerName) $ | default (include "licenseware-sdk-v2.fullname" .) }}
          {{- with .Values.job.command }}
          command:
            {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          {{- with .Values.job.args }}
          args:
            {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          {{- with (default .Values.global.securityContext .Values.job.securityContext) }}
          securityContext:
            {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.extraEnv }}
          env:
            {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          envFrom:
          - configMapRef:
              name: {{ include "licenseware-sdk-v2.fullname" . }}
          - secretRef:
              name: {{ include "licenseware-sdk-v2.fullname" . }}
          {{- with .Values.extraEnvFrom }}
            {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          {{- with (default .Values.global.resources .Values.job.resources) }}
          resources:
            {{- tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          volumeMounts:
          - name: upload-data
            mountPath: {{ .Values.configMapPairs.FILE_UPLOAD_PATH }}
          - name: tmp
            mountPath: /tmp
          {{- if .Values.persistence.sourceCode.enabled }}
          - name: src
            mountPath: {{ .Values.persistence.sourceCode.mountPath }}
          {{- end }}
          {{- with .Values.extraVolumeMounts }}
          {{- tpl (toYaml .) $ | nindent 10 }}
          {{- end }}
          {{- with .Values.job.extraVolumeMounts }}
          {{- tpl (toYaml .) $ | nindent 10 }}
          {{- end }}
        {{- with .Values.job.extraContainers }}
        {{- tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
      volumes:
        {{- if not .Values.useStatefulSet }}
        {{- if (or .Values.persistence.uploadFiles.enabled .Values.persistence.uploadFiles.create) }}
      - name: upload-data
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.uploadFiles.claimName }}
        {{- else }}
        emptyDir: {}
        {{- end }}
        {{- else if .Values.useStatefulSet }}
      - name: upload-data
        emptyDir: {}
        {{- end }}
      - name: tmp
        emptyDir: {}
      {{- if .Values.persistence.sourceCode.enabled }}
      - name: src
        persistentVolumeClaim:
          claimName: {{ tpl (include "licenseware-sdk-v2.sourceCodePvcName" $) $ }}
      {{- end }}
      {{- with .Values.extraVolumes }}
      {{- tpl (toYaml .) $ | nindent 6 }}
      {{- end }}
      {{- with .Values.job.extraVolumes }}
      {{- tpl (toYaml .) $ | nindent 6 }}
      {{- end }}
      {{- with (default .Values.global.nodeSelector .Values.job.nodeSelector) }}
      nodeSelector:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.affinity .Values.job.affinity) }}
      affinity:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- with (default .Values.global.tolerations .Values.job.tolerations) }}
      tolerations:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
{{- end -}}
