name: build-jupyter

on:
  push:
    branches:
      - main
      - meysam/feat/licenseware-sdk-v2
  schedule:
    - cron: 0 0 * * *

env:
  IMAGE_REPOSITORY: ${{ github.repository_owner }}/jupyter
  REGISTRY: ghcr.io

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          logout: false
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
      - name: Set image tag from Chart.yaml
        run: |
          echo "IMAGE_TAG=$(grep appVersion ./charts/jupyter/Chart.yaml | awk '{print $2}')" >> $GITHUB_ENV
      - name: Build Jupyter Notebook
        uses: docker/build-push-action@v3
        with:
          context: ./scripts/jupyter/
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_REPOSITORY }}:${{ env.IMAGE_TAG }}${{ matrix.build-scenario.target-tag }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_REPOSITORY }}:latest${{ matrix.build-scenario.target-tag }}
          target: ${{ matrix.build-scenario.dockerfile-target }}
    strategy:
      matrix:
        build-scenario:
          - dockerfile-target: odbc
            target-tag: -odbc
          - dockerfile-target: latest
            target-tag: ""
