name: update-registry-index

on:
  push:
    branches:
      - main

env:
  HELM_VERSION: v3.11.2

jobs:
  update-registry-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Helm ${{ env.HELM_VERSION }}
        run: curl -fsSL https://git.io/get_helm.sh | bash
        env:
          DESIRED_VERSION: ${{ env.HELM_VERSION }}
      - name: Update chart packages
        run: |
          for chart in $(find charts/ -name Chart.yaml -exec dirname {} \;); do
            helm dep update $chart;
            helm package -d registry/ $chart;
          done
      - name: Update registry index
        run: helm repo index ./registry
      - name: Publish to GitHub pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          keep_files: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./registry
          publish_branch: gh-pages
